.wrapper_with_padding
	#content
		.page_header
			%h1 <strong>Find a job.</strong> Find the next journey that awaits you in Toronto.
			%p Designer News reaches hundreds of thousands of the world's top technology professionals each month.

			= link_to "New Job", new_job_path, class: 'button'

			#filter
				.nav
					%li
						= link_to "Most Recent", jobs_path
						- Category.all.each do |category|
							%li
								= link_to category.name, jobs_path(category: category.name)

			.section_header Now Hiring
			#featured_jobs.clearfix
				- @featured_jobs.each do |job|
					%a{ href: (url_for [job]) }
						.job
							%p.title= job.title
							%p.company= job.company
							%p.job_url= uri_parse(job.url)
							%p.date= time_ago_in_words(job.created_at) + " ago"

			.section_header All Jobs
			#list_jobs.clearfix
				%ol
					- @job_days.each do |day, jobs|
						.list_job_group_date
							= day.strftime("%B %d")
							- jobs.each do |job|
								%li
									%a{ href: (url_for [job]) }
										.job
											=image_tag job.company_logo.url
											%p.title= job.title
											%p.company= job.company
											%p.job_url= uri_parse(job.url)
											=link_to "Apply", job, class: "button-apply"
				= will_paginate @jobs