.wrapper_with_padding
	#job_show
		%h1.title= @job.title
		=image_tag @job.company_logo.url(:thumb)
		%h2= @job.company
		%p.date= time_ago_in_words(@job.created_at)
		%p= @job.description
		%br/

		%div
			.actions
				= link_to "Apply For Job", @job.url, class: "button"
				%p.date= "#{@job.impressionist_count} people have viewed this posting so far!"
				- if (user_signed_in? && (current_user.id == @job.user_id))
					= link_to 'Edit', edit_job_path(@job), class: 'button-outline'
					= link_to 'Delete', job_path(@job), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button-outline'
				= link_to 'Back To Jobs', jobs_path, class: 'button-outline'